.header{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0 auto;
  transition: all ease 300ms;
  a{
    font-family: $NotoSans;
    font-weight: 400;
  }
  &-logo{
    margin: 0 60px 0 0;
    max-width: 170px;
    .icon{
      width: 170px;
      height: 61px;
      fill: $primary;
    }
  }
  &-social{
    display: none;
    margin: 0 auto 0 0;
    ul{
      display: flex;
    }
    li{
      margin-right: 10px;
    }
    a{
      width: 40px;
      height: 40px;
      box-sizing: border-box;
      border-radius: 50%;
      border: 1px solid $primary;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .icon{
      fill: $primary;
    }
  }
  &-nav{
    display: none;
    margin-top: -5px;
    li{
      margin: 0 4px;
      &:last-of-type{
        margin-right: 0;
      }
    }
    a{
      font-size: 18px;
      line-height: 24px;
      color: $default;
      &:hover{
        color: $primary;
      }
    }
  }
  &-top{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0 6px;
    border-bottom: 1px solid $default;
  }
  &-bottom{
    display: none;
    justify-content: space-between;
    a{
      font-size: 18px;
      line-height: 24px;
      color: $white;
      margin-right: 26px;
      &:hover{
        color: rgba($white, .5);
      }
    }
    .link{
      a{
        margin-right: 0;
      }
    }
  }
  &.home-page{
    position: absolute;
    background: transparent;
    .header-logo{
      .icon{
        fill: $white;
      }
    }
    .btn-nav{
      .icon{
        fill: $white;
        &:last-of-type{
          fill: $white;
        }
      }
    }
  }
  &.scroll-nav{
    position: fixed;
    background: #fff;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
    .header-top{
      border-bottom: 0;
    }
    .header-logo{
      .icon{
        fill: $primary;
      }
    }
    .btn-nav{
      top: 25px;
      .icon{
        fill: $default;
        &:last-of-type{
          fill: $white;
        }
      }
    }
    .header-bottom{
      display: none;
    }
    .header-social{
      a{
        border: 1px solid $primary;
      }
      .icon{
        fill: $primary;
      }
    }
    .header-nav{
      a{
        font-size: 18px;
        line-height: 24px;
        color: $default;
        &:hover{
          color: $primary;
        }
      }
    }
  }

}
.btn-nav{
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 11;
  .icon{
    width: 45px;
    height: 30px;
    fill: $default;
    &:last-of-type{
      fill: $white;
    }
  }
}
.header-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($black, .7);
  z-index: -10;
  opacity: 0;
  visibility: hidden;
  &.is-hidden{
    visibility: visible;
    z-index: 10;
    opacity: 1;
  }
  .icon-cross{
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;
    fill: $white;
    width: 16px;
    height: 16px;
  }
}
.header{
  &.active{
    overflow: auto;
    height: 100%;
    .container{
      width: 80%;
      max-width: 315px;
      margin: 0 auto 0 0;
      background-color: $white;
      z-index: 11;
    }
    .header-logo{
      margin-bottom: 30px;
      .icon{
        fill: $primary;
      }
    }
    .header-nav{
      display: block;
      li{
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
      .icon{
        margin-right: 10px;
        fill: $primary;
        position: relative;
        top: 4px;
      }
      .icon-sub{
        margin-left: 10px;
        fill: $default;
        height: 8px;
        top: 0;
        transform: rotate(0);
        &.active{
          transform: rotate(180deg);
        }
      }
      .has-sub{
        ul{
          display: none;
          margin-top: 12px;
          padding-left: 10px;
        }
        &.active{
          ul{
            display: block;
          }
        }
      }
    }
    .header-social{
      display: flex;
      li{
        .icon{
          margin: 0 auto;
          top: 0;
        }
      }
    }
    .btn-nav{
      position: fixed;
      right: 10px;
    }
    .header-overlay{
      visibility: visible;
      z-index: 10;
      opacity: 1;
    }
  }
}