.hero{
  &-wrapper{
    padding: 0;
  }
  &-media{
    position: absolute;
    width: 100%;
    height: 100%;
    &:after{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($black, .5);
    }
    video{
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      display: block;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  &-wrapper{
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($black, .55);
    }
  }
  &-wrap{
    padding-top: 60px;
    z-index: 2;
    position: relative;
  }
  &-tag{
    font-size: 24px;
    line-height: 30px;
    color: $secondary;
    font-weight: 400;
    width: 100%;
    text-align: right;
    max-width: 855px;
    position: relative;
    top: -6px;
  }
  &-title{
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: $white;
    margin-bottom: 20px;
  }
  &-subtitle{
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    color: $white;
    margin-bottom: 30px;
  }
  &-link{
    margin-bottom: 10px;
    a{
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: $white;
    }
    .icon{
      fill: $white;
      width: 32px;
      position: relative;
      left: 5px;
      top: 4px;
    }
  }
  &-nav{
    display: none;
  }
  &-buttons{
    position: relative;
    z-index: 2;
    .btn{
      width: 100%;
      max-width: 335px;
      padding: 13px 10px;
      margin-bottom: 10px;
    }
  }
}
.about{
  &-slider{
    margin-bottom: 30px;
    .slide-media{
      width: 100%;
      margin-bottom: 10px;
      img{
        width: 100%;
        border-radius: 10px;
      }
    }
    .slide-title{
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 10px;
    }
  }

  &-wrapper{
    overflow: hidden;
    .counter-item{
      &:first-of-type{
        position: relative;
        &:before{
          position: absolute;
          content: '';
          right: -53px;
          width: 1px;
          height: 100%;
          background-color: $light;
        }
        .counter-item__numb{
          color: $secondary;
          padding-left: 10px;
        }
      }
      &:last-of-type{
        .counter-item__numb{
          color: $primary;
        }
      }
      &__numb{
        text-align: center;
        font-size: 118px;
        line-height: 160px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      &__text{
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
      }
    }
    .swiper-buttons{
      top: 30px;
    }
  }

  &-item{
    margin-bottom: 30px;
    &:last-of-type{
      position: relative;
      margin-bottom: 0;
    }
  }
  &-slider__title{
    padding-right: 70px;
    margin-bottom: 20px;
  }
}
.program{
  &-wrapper{
    .container{
      display: flex;
      flex-direction: column-reverse;
    }
    .site-title{
      margin-bottom: 20px;
    }
    .site-text{
      margin-bottom: 20px;
    }
  }
  &-inner{
    .bg{
      display: none;
    }
  }
  &-item{
    padding: 30px 15px;
    margin: 0 auto 30px;
    max-width: 290px;
    width: 100%;
    text-align: center;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0, .1);
    &__media{
      margin-bottom: 19px;
      img{
        margin: 0 auto;
      }
    }
    &__text{
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    &__link{
      a{
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
        color: $primary;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .icon{
        width: 23px;
        fill: $primary;
        margin-left: 10px;
      }
    }
  }
}
.news{
  &-wrapper{
    .section-title {
      padding-right: 60px;
    }
    .swiper-buttons {
      top: 45px;
      right: 15px;}
    .swiper-slide{
      box-sizing: border-box;
      min-height: 360px;
      background: $white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      .news-slide__media{
        margin-bottom: 15px;
        img{
          width: 100%;
          border-radius: 10px;
        }
      }
      .news-slide__title{
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .news-slide__text{
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
      }
      .news-slide__date{
        margin: auto 0 0 0;
        font-size: 16px;
        line-height: 22px;
        color: #C2C4C6;
      }
    }
  }
  &-wrap{
    margin-bottom: 30px;
  }
}
.team{
  &-wrapper{
    .container{
      display: flex;
      flex-direction: column-reverse;
    }
    .swiper-buttons{
      z-index: 5;
    }
  }
  &-wrap{
    position: relative;
    .page-link{
      margin-top: 30px;
    }
  }
  &-inner{
    margin-bottom: 30px;
    .page-link{
      display: none;
    }
  }
  &-info__title{
    font-size: 18px;
    line-height: 23px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  &-info__subtitle{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  &-info__social{
    margin-bottom: 20px;
    ul{
      display: flex;
    }
    li{
      margin-right: 15px;
    }
    a{
      width: 40px;
      height: 40px;
      box-sizing: border-box;
      border-radius: 50%;
      border: 1px solid $primary;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .icon{
      fill: $primary;
    }
  }
  &-slider{
    max-width: 300px;

    img{
      border-radius: 10px;
      width: 100%;
      object-fit: cover;
      max-width: 260px;
      max-height: 260px;
    }
  }
}
.partner-wrap{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -15px 35px;
}
.partner-item{
  width: calc(50% - 30px);
  margin: 0 15px 30px;
  background: $white;
  min-height: 75px;
  border-radius: 10px;
  img{
    width: 100%;
  }
  a{
    height: 100%;
    width: auto;
  }
}