.news-page{
 .news-wrap{
   padding: 0;
   display: flex;
   flex-wrap: wrap;
 }
}
.news-item{
  padding: 15px;
  box-sizing: border-box;
  background: $white;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  margin: 0 0 30px;
  display: flex;
  flex-direction: column;
  &__media{
    margin-bottom: 34px;
    img{
      width: 100%;
      border-radius: 10px;
    }
  }
  &__title{
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 22px;
  }
  &__text{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
  }
  &__date{
    margin: auto 0 0 0;
    font-size: 16px;
    line-height: 22px;
    color: #C2C4C6;
  }
}