.post-text{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 30px;
}
.post-wrap{
  margin-bottom: 30px;
}
.programs-budget{
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 20px 0px rgba(0,0,0, .1);
  background: $white;
  max-width: 404px;
  position: relative;
  &:after{
    position: absolute;
    content: '';
    right: 15px;
    top: 15px;
    width: 68px;
    height: 47px;
    background: url("../images/svg/bg-budget.svg") no-repeat;
  }
  &__title{
    font-size: 22px;
    line-height: 33px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-right: 55px;
  }
  &__sum{
    font-size: 40px;
    line-height: 80px;
    font-weight: bold;
    color: $primary;
    span{
      font-size: 20px;
      font-weight: 400;
      color: $default;
    }
  }

}
.single-slider{
  margin-bottom: 30px;
  .swiper-button-prev, .swiper-button-next{
    height: 34px;
    width: 17px;
    outline: none;
    background-size: contain;
    background-color: transparent;
  }
  .gallery-top{
    margin-bottom: 20px;
  }
  .swiper-slide{
    img{
      width: 100%;
      border-radius: 10px;
    }
  }
  .swiper-slide-thumb-active{
    position: relative;
    &:before{
      position: absolute;
      content: '';
      top: 0;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      background: rgba($primary, .35) ;
      margin: 0 auto;
    }
  }
}
.date-post{
  font-size: 20px;
  line-height: 27px;
  font-weight: bold;
  span{
    font-weight: 400;
  }
}
@media screen and (min-width: 1200px) {
  .post-wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .post-text{
    width: calc(100% - 500px);
  }
  .post-news{
    padding: 0 0 150px;
    .section-title{
      margin-bottom: 59px;
    }
    .programs-budget {
      width: 100%;
      margin-top: -17px;
      padding: 30px 30px 5px;
      .programs-budget__title{
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 30px;
      }
      .programs-budget__sum{
        font-size: 80px;
        line-height: 109px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
      }
    }
  }
  .post-text{
    font-size: 18px;
    line-height: 24px;
  }
  .post-wrap {
    margin-bottom: 120px;
  }
  .single-slider{
    .gallery-top {
      margin-bottom: 29px;
    }
  }
  .date-post{
    margin-top: 60px;
    span{
      margin-left: 25px;
    }
  }
  .single-slider .swiper-button-prev{
    left: 60px;
  }
  .single-slider .swiper-button-next{
    right: 60px;
  }
  .single-slider .swiper-button-prev, .single-slider .swiper-button-next {
    height: 42px;
    width: 22px;
    outline: none;
    background-size: contain;
  }
}