body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 14px;
  line-height: 21px;
  font-family: 'NotoSans', Helvetica, Arial, sans-serif;
  color: $default;
  background-color: $white;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
  font-family: $NotoSans;
}
h1 {
  font-size: 42px;
  line-height: 42px;
  color: $default;
}

h2 {
  font-size: 42px;
  line-height: 42px;
  color: $default;
}

h3 {
  font-size: 18px;
  line-height: 26px;
  color: $default;
}

h4 {
  font-size: 16px;
  line-height: 28px;
  color: $default;
}

h5 {
  font-size: 16px;
  line-height: 26px;
  color: $default;
}

h6 {
  font-size: 14px;
  line-height: 21px;
  color: $default;
}

p {
  font-size: 14px;
  line-height: 23px;
}

img {
  display: block;
  //width: 100%;
  font-size: 12px;
  line-height: 14px;
}

section {
  position: relative;
  padding: 40px 0;
  z-index: 1;
}

.section {
  position: relative;
  padding: 100px 0;
}

.row.min {
  margin-left: -5px;
  margin-right: -5px;
}

.row.min > div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.overflow {
  overflow: hidden !important;
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

a,
button,
input,
select,
textarea,
span,
.icon {
  transition: all 150ms ease;
}
button{
  cursor: pointer;
}
.wysiwyg{
  font-size: 16px;
  line-height: 24px;
  color: $default;
  p{
    font-size: 16px;
    line-height: 24px;
    color: $default;
    margin-bottom: 16px;
  }
}
.wrapper{
  .bg-section{
    position: absolute;
    top: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .section-media{
    position: absolute;
    top: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.btn{
  font-family: $NotoSans;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  width: auto;
  border-radius: 10px;
  padding: 5px 10px;
  color: $white;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.btn-blue{
  background: $primary;
  border-color: $primary;
  &:hover{
    background: transparent;
  }
}
.btn-line{
  border-color: $white;
}
.label{
  width: 100%;
  max-width: 320px;
  margin: 0 auto 15px;
  display: block;
  .input{
    width: 100%;
  }
}
input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input{
  display: inline-block;
  font-size: 13px;
  color: $default;
  padding: 0 13px;
  width: 100%;
  height: 38px;
  outline: none;
  border: 1px solid $light-100;
  background-color: $light-100;
  border-radius: 0;
  text-overflow: ellipsis;
  &::-webkit-input-placeholder {
    color: $default;
    opacity: 1;
  }
  &::-moz-placeholder {
    color: $default;
    opacity: 1;
  }
  &:-moz-placeholder {
    color: $default;
    opacity: 1;
  }
  &::-ms-input-placeholder {
    color: $default;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $default;
    opacity: 1;
  }
  &:focus,
  &:active {
    border-color: $primary;
  }
  // invalid
  &:invalid {
    box-shadow: none;
  }
  &:-moz-submit-invalid {
    box-shadow: none;
  }
  &:-moz-ui-invalid {
    box-shadow: none;
  }
  // checkbox
  &__radio{
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    &:checked {
      + .radio-text {
        background: $primary;
        color: $white;
      }
      + .radio-media {
        img{

        }
      }
    }
  }
  &__service{
    &:not(:checked) {
      + .radio-media {
        img{
          filter: grayscale(100%);
        }
      }
    }
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-title{
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
}
.section-text, .site-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.section-subtitle{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
}
.site-title{
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}

.swiper-buttons{
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
.swiper-button{
  width: 30px;
  height: 35px;
  background-color: $light-100;
  outline: none;
  &:first-of-type{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
  &:last-of-type{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  .icon{
    width: 16px;
    height: 16px;
  }
}
.swiper-button-disabled{
  background-color: rgba($light-100, .5);
}
.page-link{
  a{
    font-size: 24px;
    font-weight: 400;
    color: $primary;
  }
  .icon{
    width: 32px;
    fill: $primary;
    margin-left: 4px;
  }
}
.breadcrumbs{
  padding: 112px 0 20px;
  &-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  li{
    margin-right: 48px;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    &:after{
      position: absolute;
      content: '';
      right: -30px;
      top: 4px;
      width: 8px;
      height: 15px;
      background-image: url("../images/svg/ic-right.svg");
      background-repeat: no-repeat;
    }
    &:last-of-type{
      &:after{
        display: none;
      }
    }
  }
  a{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: $default;
    &:hover{
      color: $primary;
    }
  }
}
.pagination{
  .disabled{
    display: none;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
  }
  li{
    margin-right: 10px;
    margin-bottom: 10px;
  }
  a{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: $default;
    min-width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: $light-100;
    &.active, &:hover{
      background: $primary;
      color: $white;
      .icon{
        fill: $white;
      }
    }
  }
  .icon{
    margin: 0 20px;
    width: 32px;
    fill: $default;
  }
}