.team-block{
  &:first-of-type{
    padding: 40px 0 60px;
  }
  .team-wrap{
    margin: 0 0;
  }
  .team-item{
    width: 100%;
    max-width: 290px;
    margin: 0 auto 30px;
    &__media{
      margin-bottom: 20px;
      img{
        border-radius: 10px;
        width: 100%;
      }
    }
    &__title{
      font-size: 20px;
      line-height: 27px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    &__text{
      font-size: 16px;
      line-height: 22px;
      min-height: 44px;
      font-weight: 400;
      margin-bottom: 20px;
    }
    &__social{
      ul{
        display: flex;
      }
      li{
        margin-right: 20px;
      }
      a{
        width: 40px;
        height: 40px;
        box-sizing: border-box;
        border-radius: 50%;
        border: 1px solid $primary;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .icon{
        fill: $primary;
      }
    }
  }
}
@media screen and (min-width: 576px) {
  .team-block .team-wrap{
    display: flex;
    flex-wrap: wrap;
  }
  .team-item{
    width: calc(50% - 30px);
  }
}
@media screen and (min-width: 700px) {
  .team-item{
    max-width: 260px;
  }
}
@media screen and (min-width: 768px) {
  .team-block {
    .team-item{
      margin: 0 15px 30px;

    }
  }
}
@media screen and (min-width: 1200px) {
  .team-block {
    padding: 30px 0 50px;
    .section-title{
      margin-bottom: 60px;
    }
    .team-wrap{
      margin: 0 -30px;
    }
    .team-item{
      max-width: 288px;
      margin: 0 30px 60px;
      width: 100%;
    }
  }
}