// genearl

$white: #ffffff;
$white-100: #fffefe;
$black: #000000;
$black-100: #333;

// main

$primary: #003DA5;
$secondary: #FFDF00;
$default: #353D42;
$default-100: #5B646A;
$gray: #C4C4C4;
$gray: #AFA6A6;
$light: #D9D9D9;
$light-100: #F4F4F4;
$red: #DE3F53;

// info

$danger: #f00;
$success: #00b911;
$info: #26badf;
$warning: #fbf8db;

// shades


$light-100: #ECEAEB;
$default-100: #9A9A9A;


// mixins

@mixin linear-gradient($direction, $fromColor, $toColor) {
  background-color: $fromColor;
  background-image: linear-gradient($direction, $fromColor, $toColor);
}

